/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Economica', sans-serif;
}

.section-main {
  width: 80vw;
  height: 76vh;
  overflow: hidden;

  background: #888;
}
