.heading {
  position: relative;
  height: 75%;
  overflow: hidden;
  background: url("../../../assets/images/index-cover.jpg");
  background-size: cover;
  background-position: 50% 30%;
}

.heading::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #FE5F55;
  mix-blend-mode: darken;
}

.heading div {
  position: relative;
  width: 55%;
  text-align: center;
}

.heading div h1 {
  margin: 0;
  font-size: 9.000em; /* 144 ÷ 16 */
  color: #011638;
}

.heading div h2 {
  margin: 0;
  font-size: 4.500em; /* 76 ÷ 16 */
  color: #C7EFCF;
}

.section-home nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 25%;
  background: #F0B67F;
}

.box-btn {
  position: relative;
  width: 20%;
  padding-top: 1.00em; /* 20 ÷ 16 */
  padding-bottom: 1.00em; /* 20 ÷ 16 */
  text-align: center;
  list-style: none;
  border: 2px solid #011638;
  transition: 0.5s;
}

.box-btn:hover {
  border: 2px solid #fff;
}

.box-btn::before {
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  transform-origin: 100% 0%;
}

.box-btn::after {
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform-origin: 0% 100%;
}

.box-btn::before, .box-btn::after {
  width: 100%;
  height:100%;
  z-index: 3;
  content:'';
  position: absolute;
  top:0;
  left:0;
  box-sizing: border-box;
  transform: scale(0);
  transition: 0.5s;
}

.box-btn:hover::after, .box-btn:hover::before {
  transform: scale(1);
}

.box-btn a {
  position: relative;
  z-index: 4;
  font-size: 1.500em; /* 24 ÷ 16 */
  text-decoration: none;
  color: #011638;
  transition: 0.5s;
}

.box-btn:hover a {
  color: #fff;
}
