<section class="section-main section-legislator">
  <aside>
    <img src="../../assets/images/legis-img-default.png">
    <h1>First Last</h1>
    <div class="details-box">
      <div class="details-item">
        <span class="details-label">Party:</span>
        <span class="details-value">D</span>
      </div>
      <div class="details-item">
        <span class="details-label">Gender:</span>
        <span class="details-value">F</span>
      </div>
      <div class="details-item">
        <span class="details-label">Elected:</span>
        <span class="details-value">2012</span>
      </div>
    </div>
  </aside>
  <article>
    <div class="container">
      <div class="chart">
      </div>
      <div class="btn-wrapper">
        <button>2012</button>
        <button>2014</button>
        <button>2016</button>
        <button>2018</button>
      </div>
      <h1>Industries</h1>
    </div>
  </article>
</section>
