<header>
  <nav>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/congress">Congress</a></li>
    <li><a routerLink="/senate">Senate</a></li>
  </nav>
</header>
<section class="section-center">
  <aside>
    <a href="https://github.com/DevHominid/Colorado-Contributions" target="_blank">
      <i class="fa fa-2x fa-github-square" aria-hidden="true"></i>
    </a>
    <a href="https://twitter.com/DevHominid" target="_blank">
      <i class="fa fa-2x fa-twitter-square" aria-hidden="true"></i>
    </a>
  </aside>
  <router-outlet></router-outlet>
</section>
<footer>
  <div>
    <span>&copy; 2017</span>
    <a href="https://www.devhominid.com/" target="_blank"><img class="signature" src="assets/images/signature.png" alt="Dev Hominid signature"></a>
  </div>
  <a href="https://www.opensecrets.org/" target="_blank"><img class="credit" src="assets/images/opensecrets-credit.gif"></a>
</footer>
