<section class="section-main section-congress">
  <div class="heading-side">
    <h1 class="vertical-text">{{title}}</h1>
  </div>
  <div class="legis-wrapper">
    <a *ngFor="let legis of congress" class="legis-box" routerLink="/legislator/{{legis.cid}}/2018">
      <div class="legis-img">
        <img src="../../assets/images/legis-img-default.png">
      </div>
      <div class="legis-info">
        <p class="legis-name">{{legis.firstlast}}</p>
        <p class="legis-party">{{legis.party}}</p>
      </div>
    </a>
  </div>
</section>
